<header class="header-main">
    <h1 class="header-main__title">Sistema de Atendimento</h1>
    <nav class="header-main__nav">
        <a href="/" class="header-main__nav-link">Início</a> |
        <a href="/atendimentos" class="header-main__nav-link">Atendimentos Cadastrados</a> |
        <a href="/atendimentos/cadastro" class="header-main__nav-link">Cadastrar Atendimento</a>
    </nav>
</header>